<ion-header>
  <ion-navbar>
    <ion-title>
      Fake List
    </ion-title>
  </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
    </ion-list>
</ion-header>
<ion-content padding>

<ion-list>
  <ion-item *ngFor="let item of results">
    {{ item.title }}
    <button ion-button [navPush]="detailsPage" [navParams]="item">Details</button>
  </ion-item>
  <ion-item *ngIf="results.length < 1">Aucun résultat</ion-item>
</ion-list>


  <!-- <li *ngFor="let item of results">{{ item.title }}    {{item.author }}     {{item.date}}</li> -->


</ion-content>
