<ion-header>
  <ion-navbar>
    <ion-title>
      Fake List
    </ion-title>
  </ion-navbar>
    <ion-searchbar></ion-searchbar>
    <ion-list>
    </ion-list>
</ion-header>
<ion-content padding>

<ion-list>
  <ion-item *ngFor="let item of results">
    <ion-thumbnail item-start>
      <img src="maison.png">
    </ion-thumbnail>
    <h2>{{item.title}}</h2>
    <p>{{item.author}} • {{item.date}}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-list>


  <!-- <li *ngFor="let item of results">{{ item.title }}    {{item.author }}     {{item.date}}</li> -->


</ion-content>
